@model SlotMachine.Models.PlayModel
@{
    ViewBag.Title = "Slot Machine";
}

<div class="jumbotron">
    <div>
        Total Credits
        <span id="TotalCredits">@Model.Credits</span>
    </div>
    <div>
        Your bet
        <span id="bet">1</span>
    </div>
    <div>
        <button id="maxBet">Maximize Bet</button>
        <button id="plusOneBet">+1</button>
        <button id="spin">Spin</button>
        <button id="pay">Payout</button>
    </div>
</div>

<div class="slot-container">
    @for (int i = 0; i < Model.Slots.Length;i++)
    {
        string slotId = "slot"+i;
        <div>
            <ul class="slot" id="@slotId">
                @foreach (var symbol in Model.Slots[i])
                {
                    string imgsrc = symbol + ".png";
                    <li data-symbol="@symbol"><img src='/Content/img/@imgsrc'/></li>
                }
            </ul>
        </div>
    }
</div>