@model SlotMachine.Models.PlayModel
@{
    ViewBag.Title = "Slot Machine";
}

<div class="jumbotron">
    <div>
        <h2>
            Total Credits
            <span id="TotalCredits">@Model.Credits</span>
        </h2>
    </div>
    <div>
        <h3>
            Your bet
            <span id="bet">1</span>
        </h3>
    </div>
    <div>
        <button class="btn btn-default" id="maxBet">Maximize Bet</button>
        <button class="btn btn-default" id="plusOneBet">+1</button>
        <button class="btn btn-default" id="spin">Spin</button>
        <button class="btn btn-default" id="pay">Payout</button>
    </div>
</div>

<div class="slot-container">
    @for (int i = 0; i < Model.Slots.Length;i++)
    {
        string slotId = "slot"+i;
        <div>
            <ul class="slot list-unstyled" id="@slotId">
                @foreach (var symbol in Model.Slots[i])
                {
                    string imgsrc = symbol + ".png";
                    <li data-symbol="@symbol"><img src='/Content/img/@imgsrc'/></li>
                }
            </ul>
        </div>
    }
</div>